.about-1 {
  background-image: url("https://images.unsplash.com/photo-1490914327627-9fe8d52f4d90?dpr=2&auto=format&fit=crop&w=1500&h=2250&q=80&cs=tinysrgb&crop=");
}
.about-2 {
  background-image: url("https://images.unsplash.com/photo-1422255198496-21531f12a6e8?dpr=2&auto=format&fit=crop&w=1500&h=996&q=80&cs=tinysrgb&crop=");
}
.about-3 {
  background-image: url("https://images.unsplash.com/photo-1476097297040-79e9e1603142?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
}
.about-4 {
  background-image: url("https://images.unsplash.com/photo-1464652149449-f3b8538144aa?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
}

.music-1 {
  background-image: url("../../assets/img/about/music-01.jpg");
}
.music-2 {
  background-image: url("../../assets/img/about/music-02.jpg");
}
.music-3 {
  background-image: url("../../assets/img/about/music-03.jpg");
}
.music-4 {
  background-image: url("../../assets/img/about/music-04.jpg");
}
